@import "tailwindcss";

@theme {
  --color-brand-red: #dc2626;
  --color-brand-dark: #0f172a;

  --animate-ticker: ticker 30s linear infinite;

  @keyframes ticker {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  /* slate-100 */
}

:is(.dark ::-webkit-scrollbar-track) {
  background-color: #0f172a;
  /* slate-900 */
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  /* slate-400 */
  border-radius: 9999px;
}

:is(.dark ::-webkit-scrollbar-thumb) {
  background-color: #334155;
  /* slate-700 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
  /* slate-500 */
}